header{
    background-color: grey ;
    border: 5px chartreuse;
    width: 770px;
    height: 200px;
    margin: 5px;
    border-radius: 10px;

}
main{
    width: 780px;
    height: 400px;
  
}

nav{
    background-color: grey;
    width: 150px;
    height: 400px;
    float: left;
    margin: 5px;
    border-radius: 10px;
}

section{
    background-color: grey;
    width:450px;
    height: 390px;
    float: left;
    margin: 5px;
    border-radius: 10px;
}

#primero{
    background-color: violet;
    width: 440px;
    height: 120px;
    float: left;
    margin: 5px;

}

#segundo{
    background-color: violet;
    width: 440px;
    height: 120px;
    float: left;
    margin: 5px;

}
#tercero{
    background-color: violet;
    width: 440px;
    height: 120px;
    float: left;
    margin: 5px;

}

aside{
    background-color: grey;
    width: 150px;
    height: 390px;
    float: left;
    margin: 5px;
    border-radius: 10px;
}

footer{
    background-color: grey;
    width: 770px;
    height: 50px;
    margin: 5px;
    border-radius: 10px;
}